$basic-color: #000;

$main-color: #FFFFFF;
$second-color:#F6F6F6;
$second-color-header:#EAEAEA;
$color-circle-check:#FFF;



$color-searchtext: #353535;
$search-button-gradient:linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);


$color-circle-filter:#9356DC;
$color-icon-filter:#7E7E7E;

$main-bg-color:#F6F6F6;
$color-button-icon:#FF69B4;

