/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-container {
  animation: fadeOutBG 3s ease-out forwards;
  filter: blur(10px);
}

@keyframes fadeOutBG {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #FFF;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite, fadeOut 1s forwards 3s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
header {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
header .header_logo {
  height: 23px;
  padding-bottom: 13px;
  padding-top: 14px;
}
header .header_location {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: var(--Grey, #353535);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #EAEAEA;
}
header .header_location .header_icon-location {
  width: 12px;
  height: 16px;
  flex-shrink: 0;
  font-size: 21px;
  color: #353535;
}

.search {
  width: 101%;
  height: 216px;
  padding-top: 30px;
  padding-bottom: 62px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
}
.search .search_title {
  width: auto;
  height: 135px;
  padding-top: 6px;
  padding-left: 57px;
  padding-right: 75px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.search .search_text {
  width: auto;
  height: 126px;
  color: #353535;
  text-align: center;
  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.search .button_category {
  width: auto;
  display: flex;
  justify-content: flex-start;
}
.search .search_button {
  width: 116%;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 3%;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.search .search_button:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  cursor: pointer;
}
.search .search_buttontext {
  width: auto;
  height: auto;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fonctionnement {
  background-color: #FFFFFF;
  padding-top: 10%;
  height: 370px;
  gap: 21px;
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  margin-right: 20px;
}
.fonctionnement .fonctionnement_title {
  height: 31px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fonctionnement .fonctionnement__filter {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.fonctionnement .fonctionnement__filter--settings {
  display: flex;
  align-items: center;
  height: 72.379px;
  flex-shrink: 0;
  gap: 15px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement .filter__circle {
  width: 24px;
  height: 24px;
  z-index: 1;
  margin-left: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 52% 48% 48% 52%/49% 50% 50% 51%;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
}
.fonctionnement .fa-shop {
  color: #9356DC;
}
.fonctionnement .filter__iconsettings {
  color: #7E7E7E;
}
.fonctionnement .fonctionnement__filter--text {
  width: 211px;
  height: 17.67px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurants {
  width: 100%;
  background-color: #F6F6F6;
}
.restaurants .restaurants__title {
  height: 28px;
  flex-shrink: 0;
  padding-top: 23px;
  padding-left: 23px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurants .restaurants__column {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: auto;
  height: 1089px;
  align-items: center;
}
.restaurants .restaurants__column .restaurants__column--card {
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  width: 96%;
  height: 227px;
  flex-shrink: 0;
  position: relative;
}
.restaurants .restaurants__column .restaurants__column--card .restaurants__column--img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 142px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
}
.restaurants .restaurant__column--label-new {
  width: 80px;
  height: 29px;
  z-index: 4;
  position: absolute;
  display: block;
  top: 1.8em;
  right: 1.5em;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border-radius: 2px;
  background: #99E2D0;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants .new-text {
  position: absolute;
  color: #008766;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}
.restaurants .restaurants__column--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
  padding-top: 14px;
}
.restaurants .restaurants__column--title {
  width: auto;
  height: auto;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurants .restaurant__column--location {
  width: auto;
  height: auto;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.settingsheart {
  height: 21px;
  position: absolute;
  display: flex;
  left: 87%;
  bottom: 25%;
  font-size: larger;
  cursor: pointer;
}

.settingsheart .fa-regular {
  transition: all 1s ease-out;
}

.settingsheart:hover .fa-regular {
  color: #FF69B4;
  font-weight: 900;
}

.fontsizeheart {
  font-size: 25px;
  width: 22px;
  height: 21px;
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonctionnement {
    width: 94%;
    height: auto;
    display: flex;
    padding-left: 43px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    margin: 0;
    gap: 25px;
  }
  .fonctionnement .fonctionnement__filter {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: stretch;
  }
  .fonctionnement .fonctionnement__filter .fonctionnement__filter--settings {
    width: 30%;
    height: 72.379px;
    flex-shrink: 0;
    gap: 8px;
  }
  .fonctionnement .fonctionnement__filter .fonctionnement__filter--text {
    font-size: 15px;
  }
  .fonctionnement_title {
    width: 275px;
    height: 31px;
  }
  .restaurants {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 2px;
  }
  .restaurants .restaurants__column {
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    padding-top: 23px;
    padding-left: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }
  .restaurants .restaurants__column .restaurants__column--card {
    width: 100%;
    height: 236px;
  }
  .restaurants .restaurants__column .restaurants__column--card .restaurant__column--label-new {
    top: 2em;
    right: 7.5em;
    height: 29px;
  }
  .restaurants .restaurants__column .restaurants__column--card .restaurants__column--img {
    height: 154px;
  }
  .restaurants .restaurants__column .settingsheart {
    height: auto;
    position: absolute;
    display: flex;
    left: 87%;
    bottom: 17%;
    font-size: larger;
    cursor: pointer;
  }
}
@media (min-width: 1025px) {
  .main-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header .header_location {
    width: 112%;
  }
  .search {
    width: 106%;
    padding-bottom: 33px;
  }
  .search .search_title {
    width: 645px;
    font-size: 40px;
  }
  .search .search_text {
    width: 545px;
    font-size: 18px;
  }
  .search .search_button {
    margin-top: 0;
  }
  .fonctionnement {
    width: 82%;
    height: auto;
    display: flex;
    padding-left: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    margin: 0;
    gap: 25px;
  }
  .fonctionnement .fonctionnement__filter {
    width: 106%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: stretch;
  }
  .fonctionnement .fonctionnement__filter .fonctionnement__filter--settings {
    width: 29%;
    height: 72.379px;
    flex-shrink: 0;
  }
  .fonctionnement_title {
    width: 275px;
    height: 31px;
  }
  .restaurants {
    width: 106%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .restaurants .restaurants__title {
    width: 268.718px;
    padding-left: 180px;
  }
  .restaurants .restaurants__column {
    height: auto;
    flex-wrap: wrap;
    padding-top: 23px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding-right: 180px;
    padding-left: 180px;
  }
  .restaurants .restaurants__column .restaurant__column--label-new {
    top: 43px;
    right: 23.41px;
    height: 29px;
  }
  .restaurants .restaurants__column .restaurants__column--card {
    height: 251px;
    display: flex;
    flex-direction: column;
  }
  .restaurants .restaurants__column .restaurants__column--card .settingsheart {
    height: 21px;
    position: absolute;
    display: flex;
    left: 87%;
    bottom: 19%;
    font-size: larger;
    cursor: pointer;
  }
  .restaurants .restaurants__column .restaurants__column--card .restaurants__column--img {
    width: 100%;
    height: 174px;
    -o-object-position: center;
       object-position: center;
    align-self: stretch;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 4px;
  }
}
.footer {
  width: auto;
  height: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  gap: 16px;
}
.footer .footer_title {
  display: flex;
  width: 169px;
  height: 27px;
  margin-top: 15px;
  padding-right: 1.418px;
  justify-content: center;
  align-items: center;
  color: var(--White, #FFF);
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footercontent {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 32px;
  color: var(--White, #FFF);
}
.footer .footercontent .footer_tab {
  display: flex;
  height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .footercontent .settingsiconfooter {
  width: 25px;
  height: 13px;
}

@media (min-width: 1025px) {
  .footer {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-shrink: 0;
  }
  .footer .footer_title {
    width: 137.582px;
    height: 20px;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: Shrikhand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer .footercontent {
    flex-direction: row;
    width: auto;
  }
  .footer .footercontent .footercontent {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .footer .footercontent .footer_tab {
    display: flex;
    height: 20px;
    gap: 11px;
  }
  .footer .footercontent .width187px {
    width: 187px;
  }
  .footer .footercontent .marginright {
    margin-right: 29px;
  }
  .footer .footercontent .settingsiconfooter {
    width: 11px;
    height: 13px;
    flex-shrink: 0;
  }
}
.main-container-menu {
  width: 100%;
  height: 1547px;
  background-color: #FFFFFF;
}

.coloricongoback {
  color: #353535;
}

.header_icon_goback {
  display: block;
  position: absolute;
  width: 29px;
  height: 30px;
  margin-top: 17px;
  margin-left: 13px;
}

.header_menu {
  display: flex;
  flex-direction: row;
  height: 63px;
  align-items: center;
  gap: 42px;
}
.header_menu .header_logo_menu {
  display: flex;
  width: 167px;
  height: 27px;
  padding: 0px 19px 0px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.picture_menu {
  width: 100%;
  height: 275px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
}

.title_menu {
  width: 100%;
  height: 74px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  position: absolute;
  margin-top: -74px;
  background: #F6F6F6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.fa-regular {
  height: 33px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

.fa-regular {
  transition: all 1s ease-out;
}

.fa-regular:hover {
  color: #FF69B4;
  font-weight: 900;
}

.menu_column {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #F6F6F6;
}
.menu_column .icon {
  display: none;
}
.menu_column .icon_box {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  width: 12%;
  gap: 12px;
  margin-left: 72.5%;
  margin-top: -32px;
}
.menu_column .icon_box .icon_box--price {
  display: flex;
  width: 18px;
  height: 18px;
  margin-bottom: 13px;
  margin-right: -6px;
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu_column .entries_menu_height360px {
  width: 90%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu_column .entries_menu {
  width: 90%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu_column .entries_title {
  display: flex;
  width: 41px;
  height: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 4px solid;
  border-color: #99E2D0;
}
.menu_column .entries_card {
  width: 97%;
  height: 59px;
  padding: 9px;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.menu_column .entries_card .entries_card--text {
  width: auto;
  height: 21px;
  flex-shrink: 0;
  align-self: stretch;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_column .entries_card .entries_card--secondtext {
  width: auto;
  height: 36px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 12px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 14.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.menu_column .flat_menu {
  width: 90%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu_column .flat_title {
  display: flex;
  width: 41px;
  height: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 4px solid;
  border-color: #99E2D0;
}
.menu_column .flat_card {
  width: 97%;
  height: 59px;
  padding: 9px;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.menu_column .flat_card .flat_card--text {
  width: auto;
  height: 21px;
  flex-shrink: 0;
  align-self: stretch;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_column .flat_card .flat_card--price {
  width: 18px;
  height: 18px;
  padding-left: 273px;
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu_column .flat_card .flat_card--secondtext {
  width: auto;
  height: 36px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 12px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 14.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.menu_column .desserts_menu {
  width: 90%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu_column .desserts_title {
  display: flex;
  width: 41px;
  height: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 4px solid;
  border-color: #99E2D0;
}
.menu_column .desserts_card {
  width: 97%;
  height: 59px;
  padding: 9px;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.menu_column .desserts_card .desserts_card--text {
  width: auto;
  height: 21px;
  flex-shrink: 0;
  align-self: stretch;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_column .desserts_card .desserts_card--price {
  width: 18px;
  height: 18px;
  padding-left: 273px;
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu_column .desserts_card .desserts_card--secondtext {
  width: auto;
  height: 36px;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 12px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Roboto;
  font-size: 14.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.order_button {
  width: 186px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 7%;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.order_button:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  cursor: pointer;
}

.order_buttontext {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 1024px) {
  @keyframes slideInLeft {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(0);
    }
  }
  .picture_menu {
    width: 105%;
  }
  .menu_column {
    width: 75%;
    height: 1116px;
    padding-top: 51px;
    padding-bottom: 54px;
    padding-left: 54px;
    padding-right: 54px;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    margin-left: 125px;
    background: #F6F6F6;
  }
  .menu_column .entries_menu {
    width: 90%;
    height: 479px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  .menu_column .flat_menu {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  .menu_column .desserts_menu {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  .menu_column .title_menu {
    width: 75%;
    padding-left: 54px;
    padding-right: 54px;
    height: 51px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 14px;
    position: absolute;
    margin-top: -100px;
    padding-top: 28px;
    background: #F6F6F6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--Black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .menu_column .icon_box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 12%;
    gap: 12px;
    margin-left: 54.5%;
    margin-top: -78px;
    position: absolute;
  }
  .menu_column .icon {
    opacity: 0;
    height: 80px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    color: #F6F6F6;
    font-size: larger;
  }
  .menu_column .icon:hover {
    opacity: 1;
    width: 70px;
    height: 77px;
    gap: 14px;
    z-index: 3;
    background: #99E2D0;
    transform: translateX(0px);
  }
  .menu_column .icon_box--price {
    padding-right: 11px;
  }
  .menu_column .entries_card--secondtext .flat_card--secondtext .desserts_card--secondtext {
    z-index: 2;
    position: relative;
  }
}