
.main-container-menu {
    width: 100%;
    height: 1547px;
    background-color: $main-color;
}

.coloricongoback {
    color:#353535;
}

.header_icon_goback {
    display: block; 
    position: absolute; 
    width: 29px; 
    height: 30px; 
    margin-top: 17px; 
    margin-left: 13px;
}

.header_menu {
    display: flex; 
    flex-direction: row; 
    height: 63px; 
    align-items: center; 
    gap: 42px;
    

    .header_logo_menu {
        display: flex; 
        width: 167px;
        height: 27px;
        padding: 0px 19px 0px 16px; 
        justify-content: center; 
        align-items: center; 
        flex-shrink: 0;
    }

}




