

header {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    background-color: $main-color;

    .header_logo {
        height:23px;
        padding-bottom: 13px;
        padding-top: 14px;
    }

    .header_location {
        display: flex;
         
        width: 100%;   
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 17px;

        color: var(--Grey, #353535);

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
        background: $second-color-header;


        .header_icon-location {
            width: 12px;
            height: 16px;
            flex-shrink: 0;
            font-size:21px;   
            color:#353535;
        }
    
    }
}




